In [5]:
%matplotlib inline
import os,csv,codecs
import pandas  as pd
import numpy   as np
import sklearn as sk

import sklearn
from sklearn import preprocessing
from sklearn import decomposition

import matplotlib.pyplot as plt
from scipy.stats.stats import pearsonr
import statsmodels.api as sm  

from sklearn.ensemble import GradientBoostingRegressor as GBR
from sklearn.ensemble import RandomForestRegressor     as RFR

In [6]:
# Load TRAIN data  ## Has both Input and Output variables.
fn1 = 'train.csv'
TRAIN = pd.read_csv(fn1,low_memory=False)

# Load TEST data  ## Has ONLY Input Variables. (Goal is to render Outputs for this.)
fn2 = 'test.csv'
TEST = pd.read_csv(fn2,low_memory=False)

In [7]:
print len(TRAIN['Survived'])
print sum(TRAIN['Survived'])
print 100*sum(TRAIN['Survived'])/float(len(TRAIN['Survived']))

891
342
38.3838383838

In [8]:
YVar  = 'Survived'
XVars = [
    'Pclass',
    'Age',
    'From35',
    'SibSp',
    'Parch',
    'Fare',
    'Male',  ]

Male = [1 if val=='male' else 0 for val in TRAIN['Sex']]
TRAIN['Male'] = Male

TRAIN['Age'].fillna(TRAIN['Age'].mean(), inplace=True)
From35 = [abs(age-35) for age in TRAIN['Age']]
TRAIN['From35'] = From35 

# Replace any "NaN" values with the mean of the remaining values:
for varname in XVars:
    TRAIN[varname].fillna(TRAIN[varname].mean(), inplace=True)
    
#########################################################################
    
Male = [1 if val=='male' else 0 for val in TEST['Sex']]
TEST['Male'] = Male

TEST['Age'].fillna(TEST['Age'].mean(), inplace=True)
From35 = [abs(age-35) for age in TEST['Age']]
TEST['From35'] = From35 

# Replace any "NaN" values with the mean of the remaining values:
for varname in XVars:
    TEST[varname].fillna(TEST[varname].mean(), inplace=True)

In [13]:
y1 = TRAIN[YVar]
X1 = TRAIN[XVars]
X1.head()

   Pclass  Age  From35  SibSp  Parch     Fare  Male
0       3   22      13      1      0   7.2500     1
1       1   38       3      1      0  71.2833     0
2       3   26       9      0      0   7.9250     0
3       1   35       0      1      0  53.1000     0
4       3   35       0      0      0   8.0500     1

In [12]:
X2 = TEST[XVars]
X2.head()

   Pclass   Age  From35  SibSp  Parch     Fare  Male
0       3  34.5     0.5      0      0   7.8292     1
1       3  47.0    12.0      1      0   7.0000     0
2       2  62.0    27.0      0      0   9.6875     1
3       3  27.0     8.0      0      0   8.6625     1
4       3  22.0    13.0      1      1  12.2875     0

In [14]:
# Fit the Model:

In [15]:
# Create and fit the model:
model = GBR() #<<<<<<<<<<<<<<<
model.fit(X1, y1)

# Calculate the predictions:
preds = model.predict(X2)

In [16]:
preds

array([ 0.09578169,  0.04657327,  0.16755505,  0.2873943 ,  0.48921309,
        0.15278329,  0.5754921 ,  0.23067796,  0.81870981,  0.09857416,
        0.03346997,  0.2202432 ,  0.95172112,  0.19655603,  0.88672095,
        0.83454175,  0.12105355,  0.11783192,  0.5621565 ,  0.31941615,
        0.28431621,  0.64605313,  0.99923648,  0.34908381,  1.05261245,
        0.05450377,  0.95472819,  0.11424455,  0.39477618,  0.08844692,
        0.07929361,  0.25911184,  0.56384708,  0.2816449 ,  0.46946254,
        0.11783192,  0.30510255,  0.32762349,  0.10330053,  0.38525975,
        0.09706406,  0.42000357,  0.08243703,  0.88514362,  0.96846037,
        0.1603681 ,  0.32349582,  0.06550874,  0.93314236,  0.56776966,
        0.34786197,  0.22733219,  0.85383579,  0.87496962,  0.10778437,
       -0.00384185,  0.06688278,  0.11601195,  0.10370806,  1.06613884,
        0.08450491,  0.22956804,  0.10863699,  0.69370826,  0.60617184,
        0.86579526,  0.67851667,  0.22380215,  0.42153341,  0.93519884,
        0.67209923,  0.08167484,  0.47554119,  0.35350398,  1.02233273,
        0.24693955,  0.08436696,  0.85963462,  0.13560078,  0.67209923,
        0.8970943 , -0.13959289,  0.26466137,  0.03346997,  0.08436696,
        0.0636798 ,  0.85414548,  0.34040776,  0.31667548,  0.98673277,
        0.48921309,  0.06550874,  0.97214179,  0.08436696,  0.27795773,
        0.11396992,  0.77779185,  0.17944037,  0.67851667,  0.11777977,
        1.00957728,  0.21293647,  0.06550874,  0.16367426,  0.35235628,
        0.14565936,  0.10580692,  0.06550874,  0.08436696,  0.10124138,
        0.08455047,  0.31667548,  1.07356918,  0.80872683,  1.03515831,
        0.08372229, -0.01935862,  0.86114765,  0.5334672 ,  0.90080857,
        0.88030903,  0.06143243,  1.02524701,  0.1102466 ,  0.06550874,
        0.53940248,  0.10580692,  0.49292878,  0.10443511,  0.10150437,
        0.22629426,  0.12850862,  0.04466547, -0.02343493,  0.05353811,
        0.10221955,  0.35899927,  0.15627865,  0.33399032,  0.09910331,
        0.10613537,  0.99274606,  0.09668438,  0.13857418,  0.44063459,
        0.3734135 ,  0.25614177,  0.10509174,  0.42000357,  0.14458292,
        0.95114082,  0.03346997,  0.19935408,  0.52119101,  0.2259813 ,
        0.10426158,  0.93422263,  0.67209923,  0.44063459,  0.55407769,
        0.31667548,  0.7558062 ,  0.88319184, -0.01935862,  0.10443511,
        0.53356534,  0.28037937,  0.13642827,  0.89082548,  0.413982  ,
        0.00702602,  0.35899927,  0.09718948,  0.05487449,  0.25103592,
        0.95046491,  0.89668393,  0.3437863 ,  0.91610897,  0.90991216,
        0.13560078,  0.39279488,  0.96603119,  0.06550874,  0.974085  ,
        0.11642549,  0.86568657,  0.0950262 ,  0.01888405,  0.10443511,
        0.14029513,  0.25902416,  0.45791308,  0.03769629,  0.7577869 ,
        0.09578169,  0.9981871 ,  0.67851667,  0.09155017,  0.30510255,
        0.51405147,  1.0582529 ,  0.12093173,  0.96704006,  0.10330053,
        0.19871557,  0.3608934 ,  0.09155017,  0.96246496,  0.08983784,
        0.24971167, -0.01935862,  0.20973985,  0.82463999,  0.59640593,
        0.28321413,  0.31667548,  0.12238613,  0.94111508,  0.08436696,
        0.85995412,  0.10509174,  0.8338011 ,  0.10580692,  0.7286384 ,
        0.50558341,  0.10221955,  0.31667548,  0.08455047,  0.109447  ,
        0.24067056,  0.99509137,  0.06738437,  0.05746083,  0.38396901,
        0.10863699,  0.14640222,  0.11783192,  0.8211573 ,  0.99302705,
        0.7286384 ,  0.91631066,  0.47955156,  0.04137666,  0.09662288,
        0.29120163,  0.86568657,  0.18163862,  0.90080857,  0.44036566,
        0.83625726,  0.15503517,  0.37142692,  0.09155017,  0.11777977,
        0.00702602,  0.06550874,  0.12224195,  0.83990495,  0.10580692,
        0.11489945,  0.10580692,  0.9137553 ,  0.85335017,  0.13560078,
        0.03346997,  0.06818291,  0.00702602,  0.30510255,  0.0979676 ,
        0.30597361,  0.06550874,  0.87648308,  0.50818992,  0.05487449,
        0.86201175,  0.12224195,  0.105264  ,  0.1516681 ,  0.09513754,
        0.32403612,  1.07739582,  0.31667548,  0.50090296,  0.77423004,
        0.06355792,  0.04489152,  0.34786197,  0.05487449,  0.08436696,
        0.25614177,  0.31496295,  0.05487449,  0.34740271,  0.10617322,
        0.13954218,  0.85243909,  0.08844692,  0.30410181,  0.14094888,
        0.20429619,  0.06775611,  0.11642549,  0.09155017,  0.31667548,
        0.75931795,  0.19193982,  0.91877527,  0.30169071,  0.27422909,
        0.0979676 ,  0.11783192,  0.00702602,  0.32397881,  0.91633184,
        0.67851667,  0.26362013,  0.0979676 ,  0.29601617,  0.26269922,
        0.16367426,  0.12599492,  0.15627865,  0.49260952,  0.98235839,
        0.06143146,  0.87006351,  0.30597361,  0.14458292,  0.09841132,
        0.91390107,  0.36311821,  0.05487449,  0.53998278,  0.2639774 ,
        0.3069842 ,  0.22956804,  0.06443173,  0.28611701,  0.05487449,
        0.0979676 ,  0.14581346, -0.00282813,  0.96776381,  0.0636798 ,
        0.75278184,  0.15627865,  0.42836313,  0.09482394,  0.97169968,
        0.93025314,  0.10330053,  0.17470237,  0.23883981,  0.88881006,
        0.24176756,  0.92068956,  0.05746083,  0.06550874,  0.55614996,
        0.07478322,  0.85731495,  0.97169968,  0.2873943 ,  1.01482539,
        0.08410775,  0.0636798 ,  0.2503059 ,  0.93025314,  0.13560078,
        0.10077685,  1.09131431,  0.14313426,  0.08185048,  0.95126185,
        0.9672224 ,  0.29361471,  0.09841132,  0.19439907,  0.48475237,
        0.06550874,  0.15562634,  0.46555515,  0.53998278,  0.08764074,
        0.89592379,  0.10221955,  0.02637565,  0.10580692, -0.07920729,
        0.36287094,  0.88662919,  0.62370784,  0.04502312, -0.09626086,
        0.95813856,  0.10426158,  1.01564319,  0.10580692,  0.16827331,
        0.93422263,  0.14498544,  0.95472819,  0.28190146,  0.31317483,
        0.10124138,  0.0939157 ,  0.18547263,  0.25819275,  0.80142083,
        0.31667548,  1.01068195,  0.68899314,  0.08436696,  0.96988903,
        0.06833586,  0.08436696,  0.10370806])

In [47]:
preds2 = np.array([1 if val>0.35 else 0 for val in preds])
preds2

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       1, 0, 0, 0])

In [49]:
preds.mean()

0.37452635806374457

In [50]:
preds2.mean()

0.37559808612440193

In [48]:
OUTPUT = pd.DataFrame()
OUTPUT['PassengerId'] = TEST['PassengerId']
OUTPUT['Survived'] = preds2

In [51]:
# Output The Rendered DataFrame to a CSV:
fn = 'GBR SUBMISSION.csv'
OUTPUT.to_csv(fn, index=False)